* {
    margin: 0;
}


#contact_client-section {
    background-color: #ffffff;
    color: #413d4b;
    display: flex;
    flex-direction: row;
    height: 500px;
    justify-content: center;
    gap: 4rem;
}
.form {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    gap: 1rem;
    
    
}
form input{
    height: 2rem;
    color: #e5e5e5;
    padding: 0.25rem;
    
}
form textarea{
    height: 12rem;
}
form button{
    background-color: #ffffff;
    color: #00e0d0; 
    border-color: #00e0d0;
    font-weight: bold;
    width: 7rem;
    height: 2.5rem;
}

.client-lists {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    flex-wrap: wrap;
    width: 30%;
    height: auto;
    
    
}
.client-lists h3 {
    width: 100%;
}
.allLogos{
    display: flex;
    display: columns;
    gap: 3rem;
    

}
.client-lists img {
    height: 60px;
    width:  200px;
    
}
.rightLogos {
    display: flex;
    flex-direction: column;
    height: 450px;
    gap: 2rem;
}
.leftLogos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
footer {
    background-image: url("./design-assets/bgk-footer.png");
    color: #ffffff;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.companyNameColor {
    color: #09d0d9;
}

.left {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.leftHead {
    display: flex;
}

.leftHead h3 {
    align-self: center;
    font-weight: lighter;
}

.left nav ul{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: smaller;
    font-weight: lighter;
    
}

.middle {
    width: 20%;
    height: 74%;
    flex-direction: column; 
}
.middle h3 {
    padding-top: 1rem;
}
.location {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    padding-top: 2rem;

}
.telefon {
    display: flex;
    gap: 2rem;
    padding-top: 3rem;
}


.right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    height: 74%;
}
.right h3{
    padding-top: 1rem;
}

.right form {
    display: flex;
    padding-top: 1rem;
    gap: 1rem;
    
}
.right input {
    background: transparent;
    border: solid 1px #9d97af;
    color: #9d97af;
    text-align: center;
    width: 75%;
}
.right form button {
    border-color: solid 1px #ffffff;
     
    width: 25%;
}
.right .social-media {
    padding-top: 1rem;
}
.right p {
    align-self: flex-end;
    padding-top: 2rem;
    
}