body{
  background-image: url(../psd_to_html/design-assets/bgk-middle.png);
}

.wrapper{
  margin-top: 30px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  margin-bottom: 25px;
}


.wrapper .our_team{
  display: flex;
  width: auto;
  justify-content: center;

}

.wrapper .our_team .team_member{
  width: 250px;
  margin: 5px;
  background: #fff;
  padding: 20px 10 px;
}

.wrapper .our_team .team_member .member_img {
  background: #e9e5fa;
  max-width: 190px;
  height: 190px;
  margin: 0 auto;
  border-radius: 50%;
}


